.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/document-edit.png') no-repeat center center;
}
.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}
.icon-clear-filter{
	background:url('icons/clear-filter.png') no-repeat center center;
}
.icon-clear-filter-color{
	background:url('icons/clear-filter-color.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/back.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('icons/man.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/lock.png') no-repeat center center;
}
.icon-more{
	background:url('icons/more.png') no-repeat center center;
}


.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('icons/large_chart.png') no-repeat center center;
}


.icon-logout{
	background:url('icons/logout.png') no-repeat center center;
}

.icon-unlock{
	background:url('icons/lock-unlock.png') no-repeat center center;
}

.icon-home{
	background:url('icons/home.png') no-repeat center center;
}
.icon-to_do_list{
	background:url('icons/to_do_list.png') no-repeat center center;
}

.icon-text_list_numbers{
	background:url('icons/text_list_numbers.png') no-repeat center center;
}
.icon-master{
	background:url('icons/master.png') no-repeat center center;
}
.icon-report_user{
	background:url('icons/report_user.png') no-repeat center center;
}
.icon-report{
	background:url('icons/report.png') no-repeat center center;
}
.icon-content{
	background:url('icons/content.png') no-repeat center center;
}
.icon-excel{
	background:url('icons/page_excel.png') no-repeat center center;
}
.icon-pdf{
	background:url('icons/document-pdf-text.png') no-repeat center center;
}
.icon-word{
	background:url('icons/document-word.png') no-repeat center center;
}
.icon-airport{
	background:url('icons/AirportBlue.png') no-repeat center center;
}
.icon-menu{
	background:url('icons/menu.png') no-repeat center center;
}
.icon-database{
	background:url('icons/database.png') no-repeat center center;
}
.icon-table{
	background:url('icons/table.png') no-repeat center center;
}
.icon-info{
	background:url('icons/information.png') no-repeat center center;
}
.icon-delete{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-email{
	background:url('icons/email.png') no-repeat center center;
}
.icon-group{
	background:url('icons/group_blue.png') no-repeat center center;
}

.icon-detail{
	background:url('icons/application_view_list.png') no-repeat center center;
}
.icon-delete2{
	background:url('icons/delete2.jpg') no-repeat center center;
}
.icon-grafik{
	background:url('icons/grafik.png') no-repeat center center;	
}
.icon-xls{
	background:url('icons/xls.png') no-repeat center center;	
}

.icon-copy{
	background:url('icons/copy.png') no-repeat center center;	
}

.icon-up{
	background:url('icons/arrow-up-icon.png') no-repeat center center;	
}

.icon-down{
	background:url('icons/arrow-down-icon.png') no-repeat center center;	
}

