.starter-template {
  background-image: url('../images/koi-carp.jpg');
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.starter-template::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(60,10,30,0.5);
  background: -webkit-linear-gradient(left, rgba(60,10,30,0.5), rgba(60,10,30,0.5));
  background: -o-linear-gradient(left, rgba(60,10,30,0.5), rgba(60,10,30,0.5));
  background: -moz-linear-gradient(left, rgba(60,10,30,0.5), rgba(60,10,30,0.5));
  background: linear-gradient(left, rgba(60,10,30,0.5), rgba(60,10,30,0.5));
  pointer-events: none;
}
